@model IdeaLab.Models.EventsModel
<div>
    <form id="EditEventForm" style = "padding: 0 5vw;" >
        @Html.HiddenFor(m => m.EventID, new { @id = "eventid" })

        @Html.LabelFor(model => model.EventName, "Event's Name")
        @Html.TextBoxFor(model => model.EventName, new { @id = "name", @class = "validate" })
        @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "error" })

        @Html.LabelFor(model => model.DateOfEvent, "Date")
        @Html.TextBoxFor(model => model.DateOfEvent, new { @id = "date", @class = "validate" })
        @Html.ValidationMessageFor(model => model.DateOfEvent, "", new { @class = "error" })

        @Html.LabelFor(model => model.Details, "Details")
        @Html.TextAreaFor(model => model.Details, new { @id = "details", @class = "materialize-textarea" })
        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "error" })

        <div>
            <a href="#" id="btnUpdate" class="waves-effect waves-light btn red center">
                @if (Model.EventID > 0)
                {
                    <span>Update</span>
                }
            </a>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnUpdate").click(function () {
            debugger
            var editedData = {
                'EventID': $("#eventid").val(),
                'EventName': $("#name").val().toString(),
                'DateOfEvent': $("#date").val().toString(),
                'Details': $("#details").val().toString()
            };
            //var editedData = $("#EditEventForm").serialize();

            if (!$("#EditEventForm").valid())
            {
                return false;
            }
            var URL = '@Url.Action("Index", "Admin")';
            $.ajax({
                type: "POST",
                url: URL,
                data: {model: editedData},
                success: function () {
                    $("#EditEventModal").modal('close');
                    window.location.reload();
                }
            })
        })
    })
</script>
