<!DOCTYPE html>
@model IdeaLab.Models.WebsiteModel
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Idea Lab</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <nav class="white" role="navigation" style="position:fixed; z-index:1000;">
        <div class="nav-wrapper container ">
            <a id="logo-container" href="http://www.akgec.in/idealab" class="brand-logo"><img src="~/logo.png" style="height: 10vh; width: 32vh; "></a>
            <ul class="right hide-on-med-and-down ">
                <li><a href="#index-banner" class="grey-text text-darken-4">Home</a></li>
                <li><a href="#videos" class="grey-text text-darken-4">Trending</a></li>
                <li><a href="#event" class="grey-text text-darken-4">Events</a></li>
                <li><a href="#about" class="grey-text text-darken-4">About</a></li>
                <li class="brand-logo"><img src="~/AKGEC.png" onclick="RedirecttoAKGEC();" style="height: 9vh; width: 9vh; "></li>
            </ul>


            <ul id="nav-mobile" class="side-nav">
                <li><a href="#index-banner">Home</a></li>
                <li><a href="#videos">Trending</a></li>
                <li><a href="#event">Events</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container" style="padding-top:8vh;">
                <br><br>
                <h2 class="header center white-text light">Are you a #Startup? <br /> We got you covered!</h2>
                <div class="row center">
                    <a href="#regmodal" class="modal-trigger btn-large waves-effect waves-light red lighten-1" onclick="launchmodal();">Get Started</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="~/background1.png" alt="Unsplashed background img 1"></div>
    </div>


    <!-- Registration Modal Structure -->
    <div id="regmodal" class="modal">
        <div class="modal-content" id="regmodalBody">
            <h4 class="center">SUBMIT YOUR IDEA</h4>
            @using (Ajax.BeginForm("Register", "Home",
                    new AjaxOptions
                    {
                        OnSuccess = "OnSuccessIdea",
                        OnFailure = "OnFailureIdea",
                        LoadingElementId = "progress"
                    }, new { id = "myform", style = "padding: 0 5vw;" }))
            {
                <div class="input-field">
                    @Html.TextBoxFor(model => model.user.Name, new { @id = "name", @class = "validate" })
                    <label for="name">Name</label>
                    @Html.ValidationMessageFor(model => model.user.Name, "", new { @class = "error" })
                </div>
                <div class="input-field">
                    @Html.TextBoxFor(model => model.user.Email, new { @id = "email", @class = "validate" })
                    <label for="email">Email</label>
                    @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "error" })
                </div>
                <div class="input-field">
                    @Html.TextBoxFor(model => model.user.ContactNumber, new { @id = "contactNumber", @class = "validate" })
                    <label for="contactNumber">Contact Number</label>
                    @Html.ValidationMessageFor(model => model.user.ContactNumber, "", new { @class = "error" })
                </div>
                <div class="input-field">
                        @Html.TextBoxFor(model => model.user.Batch, new { @id = "batch", @class = "validate", @onchange = "checkBatch();" })
                        <label for="batch">Batch (yyyy-yy)</label>
                        @Html.ValidationMessageFor(model => model.user.Batch, "", new { @class = "error" })
                    <div id="invalidBatch" class="error" style="display:none"></div>
                    </div>
                <div>
                    @Html.DropDownListFor(model => model.user.BranchID, ViewBag.BranchList as SelectList, "--Select Branch--", new { @id = "branch", @class = "input-field dropdown-button btn grey lighten-4 black-text" })
                    @Html.ValidationMessageFor(model => model.user.BranchID, "", new { @class = "error" })
                </div>
                <div class="input-field">
                    @Html.TextAreaFor(model => model.user.Idea, new { @id = "textarea1", @class = "materialize-textarea" })
                    <label for="textarea1">Enter Your Idea in 200 words....</label>
                    @Html.ValidationMessageFor(model => model.user.Idea, "", new { @class = "error" })
                    <div id="result" class="grey-text">
                        Words left: <span id="wordCount">200</span>
                    </div>
                    <span id="lblError" class="error"></span>
                </div>
                <br />
                    <button id="btnSubmit" class="waves-effect waves-light btn red center" onclick="showloader();" style="width:100%;">Submit</button>
            }
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <!--LOADER-->
    <div id="process" class="modal modal-overlay" style="height:30vh; width:30vw; box-shadow:none;">
        <div class="modal-content" style="height:150px; width:150px;">
            <img src="~/loader.svg" class="center">
        </div>
    </div>


<!--Videos-->
    <div class="container" id="videos">
        <div class="section">
            <h4 class="header center">#Trending</h4>
            <div class="row">
                <div class="col s12 m6">
                    <iframe style="width: 100%; height: 40vh;" src="https://www.youtube.com/embed/bC0hlK7WGcM" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col s12 m6">
                    <iframe style="width: 100%; height: 40vh;" src="https://www.youtube.com/embed/jvBaRf9LHDs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <iframe style="width: 100%; height: 40vh;" src="https://www.youtube.com/embed/t9fP_b8Ebow" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col s12 m6">
                    <iframe style="width: 100%; height: 40vh;" src="https://www.youtube.com/embed/F4Zu5ZZAG7I" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">An Idea is Salvation by Imagination!</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/idea.jpeg" alt="Unsplashed background img 2"></div>
    </div>

<!--Events-->
    <div class="container" id="event">
        <div class="section">
            <h4 class="header center">Events</h4>
            <div class="row">
                @foreach (var item in ViewBag.EventList)
                {
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img class="resizeme" src="@Url.Action("RetrieveImage", "Home", new { @item.ImageID })" alt="Event Image" height="200" width="400" />
                                <span class="card-title">@item.EventName</span>
                                <a href="#eventmodal_@item.EventID" class="modal-trigger btn-floating halfway-fab waves-effect waves-light red" onclick="OpenDetails(@item.EventID)"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>Date: @item.DateOfEvent.ToShortDateString()</p>
                            </div>
                        </div>
                    </div>

                <!-- Modal 1 -->
                    <div id="eventmodal_@item.EventID" class="modal">
                        <div class="modal-content" style="padding: 0;">
                            <div class="card" style="margin: 0;">
                                <div class="card-image">
                                    <img src="@Url.Action("RetrieveImage", "Home", new { @item.ImageID })" alt="Event Image" width="450" height="300" />
                                    <span class="card-title">@item.EventName</span>
                                </div>
                                <div class="card-content">
                                    <p>@item.Details</p>
                                    <a href="#modal_@item.EventID" class="waves-effect waves-light btn red center" style="display: block; width: 80%; margin: 0 auto;" onclick="Event(@item.EventID)">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Structure for Registration for Event-->
                    <div id="modal_@item.EventID" class="modal">
                        <div class="modal-content">
                            <h4 class="center">REGISTER</h4>
                            
                            @using (Ajax.BeginForm("EventRegistration", "Home", new { EventID = @item.EventID }, new AjaxOptions
                            {
                                OnSuccess = "OnSuccessEvent",
                                OnFailure = "OnFailureEvent",
                                LoadingElementId = "progress"
                            }, new { id = "eventform", style = "padding: 0 5vw;" }))
                            {
                                <div class="input-field">
                                    @Html.TextBoxFor(model => model.eventregistration.Name, new { @id = "name", @class = "validate" })
                                    <label for="name">Name</label>
                                    @Html.ValidationMessageFor(model => model.eventregistration.Name, "", new { @class = "error" })
                                </div>
                                <div class="input-field">
                                    @Html.TextBoxFor(model => model.eventregistration.EmailID, new { @id = "email", @class = "validate" })
                                    <label for="email">Email</label>
                                    @Html.ValidationMessageFor(model => model.eventregistration.EmailID, "", new { @class = "error" })
                                </div>
                                <div class="input-field">
                                    @Html.TextBoxFor(model => model.eventregistration.ContactNumber, new { @id = "contactNumber", @class = "validate" })
                                    <label for="contactNumber">Contact Number</label>
                                    @Html.ValidationMessageFor(model => model.eventregistration.ContactNumber, "", new { @class = "error" })
                                </div>
                                <br />
                                <button class="waves-effect waves-light btn red center" onclick="showEventLoader(@item.EventID);" style="width:100%;">Submit</button>
                            }
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div id="processevent" class="modal" style="margin-left:5%;">
        <div class="modal-content center" style="padding: 0; height:15vh; width:15vw;">
            <img src="~/loader.svg">
        </div>
    </div>
    <div class="container-fluid grey lighten-4" id="about">
        <div class="section container">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>About Us</h4>
                    <p class="left-align light">
                        A lot can happen in a year: New technologies emerge, old assumptions change. Today’s fresh idea is tomorrow’s revolution.

                        <b>Small Ideas Great companies.</b>

                        We believe that entrepreneurship can unlock human potential and make the world a better place.

                        We are working to find out great teams which are ready to innovate solutions for problems in the world that have technology solutions and test many ideas in parallel.

                        When one shows great promise, we recruit a great team, spin it off into a company, and help them grow a successful business.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.4669944363836!2d77.49981551457049!3d28.675673982400845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cee2391c13fd1%3A0x5397410d18100e43!2sAjay+Kumar+Garg+Engineering+College!5e0!3m2!1sen!2sin!4v1501609273760" width="100%" frameborder="0" style="border:0; height: 30vh;" allowfullscreen></iframe>

    <footer class="page-footer grey lighten-4">
        <div class="container">

            <h5 class="center black-text" style="letter-spacing: 2px;">
                POWERED BY <a href="http://www.silive.in">
                    SOFTWARE INCUBATOR
                    <img src="~/SIlogo.png" style="height: 4vh; width:3vh; padding-top:0.5vh;" class="img-responsive">
                </a>
            </h5>
            <br />
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/init.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal').modal();
        });

        var OpenDetails = function (EventID) {
            var eventID = EventID.toString();
            $("#eventmodal_" + eventID).modal('open');
        }
        var Event = function (EventID) {
            var eventID = EventID.toString();
            $("#eventmodal_" + eventID).modal('close');
            $("#modal_" + eventID).modal('open');
        }
        var RedirecttoAKGEC = function () {
            window.location = "http://www.akgec.in";
        }
        counter = function () {
            var value = $('#textarea1').val();

            if (value.length == 0) {
                $('#wordCount').html(200);
                return;
            }
            var regex = /\s+/gi;
            var wordCount = value.trim().replace(regex, ' ').split(' ').length;

            $('#wordCount').html(200 - wordCount);

            if (wordCount > 200) {
                $('#wordCount').html(0);
                $('#lblError').html("Only 200 words allowed.");
                $('#btnSubmit').prop('disabled', true);
                return;
            }

            if (wordCount <= 200) {
                $('#lblError').html("");
                $('#btnSubmit').prop('disabled', false);
            }
        }
        $(document).ready(function () {
            $('#textarea1').change(counter);
            $('#textarea1').keydown(counter);
            $('#textarea1').keypress(counter);
            $('#textarea1').keyup(counter);
            $('#textarea1').blur(counter);
            $('#textarea1').focus(counter);
        });


        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        var launchmodal = function () {
            $("#regmodal").modal('open');
        }

        var showloader = function () {
            if ($('#myform').valid()) {
                $("#regmodal").modal('close');
                $("#process").show();
            }
        }
        function OnSuccessIdea(response) {
            if (response == "success") {
                $("#process").hide();
                $('#regmodalBody').html("Successfully Registered");
                $("#regmodal").modal('open');
                setTimeout(function () {
                    window.location.reload();
                }, 5000);
            }
            else {
                $("#process").hide();
                $("#regmodalBody").html("Try Again.");
                $("#regmodal").modal('open');
                setTimeout(function () {
                    window.location.reload();
                }, 5000);
            }
        }
        function OnFailureIdea(response) {
            $("#process").hide();
            $("#regmodalBody").html("Try Again.");
            $("#regmodal").modal('open');
            setTimeout(function () {
                window.location.reload();
            }, 5000);
        }


        var showEventLoader = function(EventID)
        {
            var eventID = EventID.toString();
            var check = $("#eventform").valid();
            if(check)
            {
                $("#modal_" + eventID).modal('close');
                $("#process").show();
            }
        }
        function OnSuccessEvent(response) {
            if (response == "success") {
                $("#process").hide();
                $('#regmodalBody').html("Successfully Registered");
                $("#regmodal").modal('open');
                setTimeout(function () {
                    window.location.reload();
                }, 5000);
            }
            else {
                $("#proces").hide();
                $("#regmodalBody").html("Try Again.");
                $("#regmodal").modal('open');
                setTimeout(function () {
                    window.location.reload();
                }, 5000);
            }
        }
        function OnFailureEvent(response) {
            $("#process").hide();
            $("#regmodalBody").html("Try Again.");
            $("#regmodal").modal('open');
            setTimeout(function () {
                window.location.reload();
            }, 5000);
        }

        var checkBatch = function () {
            debugger
            var batch = document.getElementById("batch").value;
            console.log(batch.charAt[2]);
            if(batch.length==7)
            {
                debugger
                var start = batch.charAt(2) +""+ batch.charAt(3);
                var startBatch = Number(start);
                var end = batch.charAt(5) + batch.charAt(6);
                var endBatch = Number(end);
                if(startBatch>=endBatch)
                {
                    $("#invalidBatch").html("Invalid Batch");
                    $("#invalidBatch").show();
                    $('#btnSubmit').prop('disabled', true);
                }
                else
                {
                    $("#invalidBatch").hide();
                }
            }
        }

    </script>
</body>
</html>
